
.landSection{
    padding: 80px 0px;
}

.landInner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px;
    gap: 24px;
}

.landText{
    display: flex;
    flex-direction: column;
    
}

.landImg img{
    border-radius: 2px;
}


